<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/index.css">
    <script defer src="./static/js/main.js"></script>
    <title>Alpha Test</title>
</head>
  <body>
  <div id="grade">
    <div class="center" >
      <h1><strong>Alpha Test</strong></h1>
        <p>What is Bio-Degradation?</p>
        <div class="inputs">
            <input type="file" id="image_input" accept="image/png, image/jpg"> 
        </div>
      <div class="sub">
        <button id='btn'>Upload</button>
      </div>
    </div>
    <div class="left" >
        <h1><strong>Image Uploaded</strong></h1>
        <div id="display_image"></div>
    </div>
    <div class="under" >
        <h1><strong>Score</strong></h1>
        <p id="score"><strong>Submit a Response</strong></p>
    </div>
</body>
</html>