<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Alpha Test </title>


    <link rel="stylesheet" href="/static/css/index.css">
    <script defer src="/static/js/main.js"></script>
  </head>
  <body>
  <div id="grade">
    <div class="center" >
      <h1><b>Alpha Test</b></h1>
      <form>
        <p>What is Bio-Degradation?</p>
        <div class="inputs">
            <input type="file" id="image_input" accept="image/png, image/jpg"> 
        </div>
      <div class="sub">
        <button id='btn'>Upload</button>
      </div>
    </div>
    <div class="left" >
        <h1><b>Image Uploaded</b></h1>
        <div id="display_image"></div>
    </div>
    <div class="under" >
        <h1><b>Score</b></h1>
    </div>
</body>
</html>